<!DOCTYPE html>
<html>

  <head>
    <meta charset='UTF-8' />
    <title>Kottans Test Task</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <script type="text/javascript" src="https://rawgit.com/ricmoo/aes-js/master/index.js"></script>
    <!-- script type="text/javascript" src="encryption.js"></script-->
  </head>

  <body>
    <div class='container'>
      <div class='content'>
        <%= yield %>
      </div>
    </div>
  </body>

</html>